html {
    background-color: #000000;
    color: #46e311;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80vw;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: #46e311;
    text-decoration: none;
}

@media screen and (max-width: 636px) {
    body {
        max-width: 100vw;
    }

    h1 {
        font-size: 1.25rem;
    }
}