.pagination-container {
    display: flex;
    align-items: center;
    bottom: 0;
    justify-content: center;
}
.pagination-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: #46e311;
}
.pagination-link:not(.disabled):hover {
    background: #1e6e03;
}