---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Button } from "@mui/material";
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Button>text</Button>
</BaseLayout>