---
import BlogPost from '../islands/blogPost/BlogPost.astro';
import App from '../layouts/App.astro';

import '../styles/pagination.css';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'ijij log';

allPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.date);
  const bDate = new Date(b.frontmatter.date);
  return bDate.getTime() - aDate.getTime();
});
---
<App pageTitle={pageTitle}>
  <ul id="paginated-list">
    {allPosts.map((post) => <BlogPost url={post.url} frontmatter={post.frontmatter} />)}
  </ul>

  <nav class="pagination-container">
    <nav class="pagination-container">
      <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
        &lt;
      </button>
      <div id="pagination-numbers"></div>
      <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
        &gt;
      </button>
    </nav>
  </nav>

  <script>
    import '../scripts/pagination.js';
  </script>
</App>