---
import Social from './Social.astro';
import "./style/footer.css";

const year = new Date().getFullYear();
---

<footer>
    <p class={'footer-copyright-txt'}>
        <small>&copy; {year} ijij</small>
    </p>
    <Social />
</footer>