---
import Social from './Social.astro';
import "./style/footer.css";
---

<footer>
    <p class={'footer-copyright-txt'}>
        <small>&copy; since 2023 ijij</small>
    </p>
    <Social />
</footer>