---

import { GitHub, Twitter } from '@mui/icons-material';
---
<div class={'footer-social-box'}>
    <a href={'https://github.com/mr-ijij'} class={'footer-social-link'} target="_blank">
        <GitHub className={'footer-social-icon'} style={{fill: "white"}}/>
    </a>
    <a href={'https://twitter.com/mr_ijij'} class={'footer-social-link'} target="_blank">
        <Twitter className={'footer-social-icon'} style={{fill: "white"}}/>
    </a>
</div>
